{
    "presets": ["babel-preset-gatsby"],
    "plugins": [
      ["prismjs", {
        "languages": ["javascript", "css", "markup", "html"],
        "plugins": ["show-language"],
        "theme": "solarizedlight",
        "css": true
      }]
    ]
  }