
input:hover + .design::after, input:focus + .design::after,
input:active + .design::after {
  transform: scale(1.2);
}
.hue-rotate {
  animation: hue-rotation 2s linear 0ms infinite!important;
}

@keyframes hue-rotation {
  0% { filter: hue-rotate(0);  }
  100% { filter: hue-rotate(360deg); }
}
.sun::after { 
  background: #F5F3CE;
}

.moon::after {
  background: #F28C38;
}